*{
    margin: 0%;
    padding: 0%;
}
:root{
    --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
   --lightblue: #3D9DEA;
   --darkblue: #4A4EEE;
   --text-color: #D5E1EF;
  }
img{
    display: block;
    width: 100%;
    height: 100%;

}
.navs {
    opacity: 0.9;
    background: #141d1f;
   top: 0%;
   /* width: 100%; */
   z-index: 9999;

   padding: 1em;
   text-align: center;
   text-size-adjust: 80%;
   word-spacing: 30px;

    
}


.nav__button{
    position: relative;
    /* margin: auto; */
    align-self: center;
    text-align: center;
    /* opacity: -0.5; */

    padding: 10px;
    color: #3097c7;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    border-spacing: 15px;

}

.nav__button:link{
    text-decoration: none;
}

.nav__button:hover{

    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 15px 50px 30px;
}

.info{
    display: flex;
    flex-direction: row;
    max-height: 50%;
    max-width: 100%;
    /* background-color: #3097c7; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.info__text{
    position:relative;
    font-size: 20;
    align-self: center;
    min-width: 50%;
    top: 50%;
    margin-left: 5em;
    line-height: 4em;  
    color: white; 
    text-shadow: 2px 2px gray;

    /* transform: translate(-50%); */
}
.info__text h1{
    color: white;
    font-size: 60px;
    font-weight: 3em;
    font-family: 'Lobster', cursive;
    
}
.info__text p{
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.info__picture{
    max-width: 50%;
    max-height: 50%;
    
}
.info__picture img{
    border-radius: 50%  0% 0% 50%;
}

.list{
    max-width: 90%;
    min-height: 100vh;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 40px;
    margin-left: 1cm;
    margin-right: 1cm;
    background-color: white;
}
.card{
    display: grid;
    margin: 0.5cm;
    width: 300px; 
    
    
    height: 400px;
    flex-wrap: wrap;
    box-shadow: 3px 3px black;
    background-color: rgb(190, 181, 181);
    border-radius: 5%  5% 5% 5%; 
    background-image:  linear-gradient(176deg, var(--lightblue), var(--darkblue));
    
}
.content{
    display: flex;
    flex-direction: column;
    margin:0.5cm;
}
.card__image{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%  50% 50% 50%; 
}

.content h1{
    margin: 0.5cm;
    align-self: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height:50px ;
}

.content a{
    min-height: 50px;
}
.content p{
min-height: 50px;
}

.socials{
    display: flex;
    flex-direction: row;
}