*{
    margin: 0%;
    padding: 0%;
}
img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.navs {
    opacity: 0.9;
    background: #141d1f;
    /* background-color: ; */
   /* position: fixed; */
   top: 0%;
   width: 100%;
   z-index: 9999;
   /* background: #686868; */
   /* background-size: 400% 400%; */
   /* animation: grad 15s ease infinite; */
   padding: 1em;
   text-align: center;
   text-size-adjust: 80%;
   word-spacing: 30px;

    
}


.nav__button{
    position: relative;
    /* margin: auto; */
    align-self: center;
    text-align: center;
    /* opacity: -0.5; */

    padding: 10px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    border-spacing: 15px;

}

.nav__button:link{
    text-decoration: none;
}

.nav__button:hover{

    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 15px 50px 30px;
}




/* body */


/* page 1 */
.page{
    background-size: 100% 100%;
    /* align-self: center; */
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    /* display: block; */
}
.backg{
    /* padding-top: 3.8rem; */
    background-color: red;
    background-image: url(images/3.jpg); 
    background-size:cover ;
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;
    
    
}
.page_content{
    position: absolute;
    font-family: 'Lobster', cursive;
    /* font-family: 'Trattatello', cursive; */
    /* text-size-adjust: 80%; */
    font-size: 60px;
    /* padding-top: 10em; */
    margin: auto;
    top: 50%;
    left: 50%;
    align-self: center;
    /* z-index: 999; */
    transform: translate(-50%,-50%);
    color:silver;
    animation: gradient 15s ease infinite;
}





/* page 2 */

.page__2--content{
   
    /* margin-top: 4em; */
    /* padding-top:3em ; */
    /* width: min-content; */
    
    
    /* background-color: #111e21; */
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    float: left;
    position: relative;

}